<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users_cr.css') }}">
</head>
<body>
    <div class='read_header'>
        <h1>User {{ user.id }}</h1>
        <a href='/home'>Home</a>
    </div>
    <div class=read_body>
        <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p></br>
        <p>Email: {{ user.email }}</p></br>
        <p>Created On: {{ user.created_at }}</p></br>
        <p>Last Updated On: {{ user.updated_at }}</p>
    </div>
    <div class=read_footer>
        <a href='/edit/{{ user.id }}'>Edit</a> | <a href='/delete/{{ user.id }}'>Delete</a>
    </div>
</body>
</html>